---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";
import "../styles/global.css";

const { title, description, canonical } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEO title={title} description={description} canonical={canonical} />
  </head>


<body class="min-h-screen flex flex-col bg-white text-gray-900 antialiased overflow-y-scroll">
    <Navbar />
    <main class="flex-1 max-w-7xl mx-auto px-6 py-16 w-full">
      <slot />
    </main>

    <Footer />
  </body>
</html>
